@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    // font-family: 'Architects Daughter', cursive;
    font-family: 'Nanum Pen Script';
}

body {
    height: 100vh;
}

// nav/header
.nav-bar {
    background-color: #E4F3D9;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    gap: 3em; 
    font-size: 20px;
    font-weight: bold;
}
.carousel-img{
    height: 100vh;
    position: fixed;
    left: 543px;
    justify-content: center;


}


// footer
.footer {
    background-color: #E4F3D9;
    width: 100%;
    color: #203611;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
}

// general 
h1 {
    display: flex;
    justify-content: center;
}

// about us 
.developers-container {
    display: flex;
    flex-wrap: wrap;
}

.dev-image {
    width: 200px;
    height: 200px;
}

// cards
.inventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.show-item {
    display: flex;
    justify-content: center;
    margin: auto;
}

.card {
    align-items: center;
    margin-bottom: 40px;
    border: solid #203611 2px;
}
