@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    // font-family: 'Architects Daughter', cursive;
    font-family: 'Nanum Pen Script';
}

body {
    height: 100vh;
}

// nav/header
.nav-bar {
    background-color: #E4F3D9;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    gap: 3em; 
    font-size: 20px;
    font-weight: bold;
}

// footer
.footer {
    background-color: #E4F3D9;
    width: 100%;
    color: #203611;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: 15px;
    position: relative;
    bottom: 0;
}

// general 
h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    background-color: #61813E;
}
p {
    display: flex;
    justify-content: center;
}
// about us 
.developers-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.bio {
    width: 275px;
    justify-content: center;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

.dev-image {
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
}

// cards
.inventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.show-item {
    display: flex;
    justify-content: center;
    margin: auto;
}

.card {
    align-items: center;
    margin-bottom: 40px;
    border: solid #203611 2px;
}
.not-found {
    display: flex;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.create-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
}

.create-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.form-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    width: 50%;
}
  .mb-3 {
    display: flex;
    justify-content: center;
}

.btn-secondary {
  padding: 6px 24px;
  background-color: #61813E;
}

.btn-secondary:hover {
  background-color: #E4F3D9;
  color: #6c757d
}

