@import "bootstrap";

// general 
h1 {
    display: flex;
    justify-content: center;
}

// about us 
.developers-container {
    display: flex;
    flex-wrap: wrap;
}

.dev-image {
    width: 200px;
    height: 200px;
}

// cards
.inventory {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.show-item {
    display: flex;
    justify-content: center;
    margin: auto;
}

.card {
    align-items: center;
    margin-bottom: 40px;
    border: solid #203611 2px;
}
